/* You can add custom styles here. */

div.gdoc-page__anchorwrap h3,
div.gdoc-page__anchorwrap h4,
div.gdoc-page__anchorwrap h5,
div.gdoc-page__anchorwrap h6 {
  margin-bottom: 7px !important;
  margin-left: 6px;
}

#TableOfContents ul {
  padding-left: 30px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  /* margin-left: -118px; Divide value of min-width by 2 */
  background: transparent;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 10%; /* Center the snackbar */
  min-height: 88vh;
  max-height: 88vh;
  overflow: hidden;
  overflow-y: auto;
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
}
